
i.fa.hover {
    background: $base-colour;
    color: $text-colour;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 25px;
    text-align: center;

    @each $sn in $social-networks {
        &.fa-#{nth($sn, 1)}:hover { background-color: #{nth($sn, 2)} }
    }
}