
i.fa.rounded {
    color: $text-colour;
    width: $round-icon-size;
    height: $round-icon-size;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: $round-icon-size;
    text-align: center;
    padding: 15px;

    @each $sn in $social-networks {
        &.fa-#{nth($sn, 1)} { background-color: #{nth($sn, 2)} }
    }
}