
i.fa.rounded-spin {
    @include getDefaultProps();
    width: $icon-size * 0.6;
    height: $icon-size * 0.6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: $icon-size * 0.6;
    padding: $icon-size * 0.2;
    @include transition(background-color, 0.2s, ease-in-out, 0s, color 0.2s, transform 0.5s);

    @if $text-colour-override != false {
        color: $text-colour-override;
    }

    &:hover {
        @include rotate(360);
    }

    @each $sn in $social-networks {
        &.fa-#{nth($sn, 1)} { 
            background-color: #{nth($sn, 2)};
            @if $text-colour-override == false {
                color: getTextColor(nth($sn, 2));
            }
            &:hover {
                background-color: darken(nth($sn,2), 10%);
            }
        }
    }
}