
i.fa.rounded-spin-hover {
    @include getDefaultProps();
    background-color: $base-colour;
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-size: $icon-size * 0.6;
    padding: $icon-size * 0.2;
    @include transition(background-color, 0.5s, ease-in-out, 0s, color 0.2s, transform 0.5s);
    @include rotate(0);
    
    @if $text-colour-override == false {
        color: getTextColor($base-colour);
    } @else {
        color: $text-colour-override;
    }

    &:hover {
        @include rotate(360);
    }

    @each $sn in $social-networks {
        &.fa-#{nth($sn, 1)}:hover { background-color: #{nth($sn, 2)} }
    }
}