
i.fa.squared-shift-hover {
    @include getDefaultProps();
    background-color: $base-colour;
    width: $icon-size;
    height: $icon-size;
    font-size: $icon-size * 0.6;
    padding: $icon-size * 0.2;
    top: 0px;
    position: relative;
    z-index: 0;
    @include transition(background-color, 0.2s, ease-in-out, 0s, color 0.2s, top 0.2s, z-index 0.2s);
    
    @if $text-colour-override == false {
        color: getTextColor($base-colour);
    } @else {
        color: $text-colour-override;
    }

    @each $sn in $social-networks {
        &.fa-#{nth($sn, 1)}:hover { 
            background-color: #{nth($sn, 2)};
            @if $text-colour-override == false {
                color: getTextColor(nth($sn, 2));
                top: 10px;
                z-index: 300;
            }
        }
    }
}